
body{
    margin: 0;
}
.main{
    background-image: url(asset/cricket-field.png);
    height: 600px;
    width: 100%;
    border: 2px solid; 
}
.bat{
    position: relative;
    top: 50px;
    height: 50%;
    transition: transform 0.2s  ;
    
}
.main:hover .bat{
    transform: rotate(-60deg);
    transform-origin: 50% 5% 60%;

}
.ball{
    transition: transform 0.5s ease-out 0.2s ;
    position: relative;
    top: 20px;
    right: 90px;
}
.main:hover .ball{
    transform: translateX(400px)
}